body, html {
    height: 100%;
    margin: 0;
    font-family: Baskerville, serif;
}
.background
{
    background-image: "pictures/NewYork1.JPG";
    background-repeat: no-repeat;
    background-position: top;
    margin : 0px;
    padding : 0px;
    height: 18px;
    width : 18px;
    overflow : hidden;
}
img {
    max-width: 100%;
    height: auto;
}
.nav-bar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}
.nav-bar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Text color */
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000; /* Text shadow */
    background-color: yellow; /* Yellow highlight */
    padding: 5px 10px; /* Padding for highlight */
}
