body, html {
    height: 100%;
    margin: 0;
    font-family: Baskerville, serif;
}
.background {
    background-image: url('https://nntuyen7.github.io/pictures/A27A8500-6488-41EF-945A-6BECF685D64F-6084-00000223CD12BFB1.jpeg');
    background-repeat:no-repeat;
    max-width: 100%;
    height: auto;
}
img {
    max-width: 100%;
    height: auto;
}
.nav-bar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}
.nav-bar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Text color */
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000; /* Text shadow */
    background-color: yellow; /* Yellow highlight */
    padding: 5px 10px; /* Padding for highlight */
}
